<mat-toolbar color="primary">
    <span><a routerLink="/">ShowHouse</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/create" routerLinkActive="">New House</a></li>
        <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/auth/login">Login</a></li>
        <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/crequest">Sign up</a></li>
        <li *ngIf="userIsAuthenticated"><button mat-button (click)="onLogout()">Logout</button></li>
    </ul>
</mat-toolbar>
<div class="back d-none d-sm-block">
    <div class="container pt-2">
        <div class="d-sm-flex want">
            <img src="Group 16.png" alt="">
            <span class="pt-3 pl-2 d-none d-sm-block"> Want to become a LANDLORD on our platform?</span>
            <span class="pt-2 pl-1 d-none d-sm-block"><button type="button"
                    class="btn-sm fungi">Register</button></span>

        </div>
    </div>
    <div class="cent">
        <h3 class="wel">Hey there, trust us to find you a home </h3>
        <p class="get">Get yourself a place of your dreams</p>
        <form class="input-group mt-3" [formGroup]="form" (submit)="onSearch()">
            <input type="text" class="form-control pholder" placeholder="Where do you want to live?"
                aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="search">
            <div class="input-group-append">
                <button class="btn search" type="submit" id="button-addon2"><img src="../../assets/Vector.png"> <span
                        style="color: #ffffff;">Search</span></button>
            </div>
        </form>
    </div>
</div>
<div class="backs d-flex d-sm-none">
    <div class="container pt-2">
        <div class="want">
            <img src="Group 16.png" alt="">
            <span class="pl-1">Be a Landlord</span>
            <span class="pl-1"><button type="button" class="btn-sm fungi">Register</button></span>
        </div>
    </div>
    <div class="centa">
        <p class="wela">Hey there, trust us to find you a home</p>
        <p class="geta">Get yourself a place of your dreams</p>
        <form [formGroup]="form" (submit)="onSearch()">
            <input type="text" class="form-control pholder" placeholder="Where do you want to live?"
                aria-label="Recipient's username" aria-describedby="button-addon2" formControlName="search">
            <button class="btn search ml-3 pl-2 mt-1" type="submit" id="button-addon2"><img
                    src="../../assets/Vector.png"> <span style="color: #ffffff;">Search</span></button>
        </form>
    </div>
</div>