<mat-toolbar color="primary">
    <span><a routerLink="/">ShowHouse</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated"><a mat-button routerLink="/create" routerLinkActive="">New House</a></li>
        <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/auth/login" routerLinkActive="">Login</a></li>
        <li *ngIf="!userIsAuthenticated"><a mat-button routerLink="/crequest" routerLinkActive="">Sign up</a></li>
        <li *ngIf="userIsAuthenticated"><button mat-button (click)="onLogout()" >Logout</button></li>
    </ul>
</mat-toolbar>
<div class="back">
    <div class="container pt-2">
        <div class="d-sm-flex want">
            <img src="Group 16.png" alt="">
                <span class="pt-3 pl-2 d-none d-sm-block"> Want to become a LANDLORD on our platform?</span>
                <span class="pt-2 pl-1 d-none d-sm-block"><button type="button" class="btn-sm fungi">Register</button></span>
                <span class="d-inline pl-1 d-sm-none">Be a Landlord</span>
                <span class="d-inline pl-1 d-sm-none"><button type="button" class="btn-sm fungi">Register</button></span>
        </div> 
    </div>
    <div class="cent">
        <h3 class="d-none d-sm-block  wel">Hey there, trust us to find you a home </h3>
        <p class="d-block d-sm-none wela">Hey there, trust us to find you a home</p>
            <p class="d-none d-sm-block get">Get yourself a place of your dreams</p>
            <p class="d-block d-sm-none geta">Get yourself a place of your dreams</p>
            <div class="input-group">
                <input type="text" class="form-control pholder" placeholder="Where do you want to live?" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn search" type="button" id="button-addon2"><img src="Vector.png"> <span style="color: #ffffff;">Search</span></button>
                </div>
            </div>
     </div>        
</div>