.house-image{
    width: 100%;
}
.house-image img {
    max-width: 100%;
}
mat-paginator {
    margin-top: 1rem;
}
.pad{
    padding-right: 0 !important;
}
.tabl{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #936A4A;
}
.maps{
    max-width: 100%;
    max-height: 100%;
}
.begtext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #936A4A;
}
.begbig{
    font-family: 'Poppins';
    font-weight: 550;
    font-size: 15px;
    line-height: 23px;
    color: #936A4A;
    display: flex;
}
.cash{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #936A4A;
}
.bord {
    border: none;
}
.nav-tabs .nav-link.active{
    border-bottom: 4px solid #936A4A !important;
    background-color: transparent !important;
    border-top: transparent !important;
}
.nav-tabs .nav-link{
    border-top: transparent !important;
}
.fung{
    background-color: #936A4A !important;
    font-family: 'Poppins';
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #936A4A;
    color: black;
}
.brown {
    background: rgba(147, 106, 74, 0.1);
}
.fung:hover{
    background-color: transparent;
    text-decoration: none;
    border: none;
    box-shadow: none;
    border: 1px solid #936A4A;
}
.fung:focus{
    border: none !important;
    box-shadow: none !important;
}
.fung:active{
    border: none !important;
    box-shadow: none !important;
}
.tung{
    background-color: transparent !important;
    font-family: 'Poppins';
    font-size: 14px;
    color: #936A4A;
    border: 1px solid #936A4A;
    border-color: #936A4A !important;
    transform: none !important;
    transition: none !important;
    border-radius: 3px;
}
.tung:hover{
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #936A4A !important;
    box-shadow:  #936A4A !important;
}
.tung:focus{
    border:  #936A4A !important;
    box-shadow: none !important;
}
.tung:active{
    border:  #936A4A !important;
    box-shadow: none !important;
}
/deep/.mat-paginator-container {
    justify-content: flex-start!important;
}
/deep/.mat-paginator-page-size {display: none !important;}
/deep/.mat-paginator-range-label{
    display: none !important;
}
/* .backg{
    background-image: url('Rectangle\ 14.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
    max-height: 100%;
    max-width: 100%;
} */