<div *ngIf="houses.length > 0">
    <mat-card *ngFor="let house of houses">
        <mat-card-title>
         {{ house.title }}
        </mat-card-title> 
        <mat-card-content>
            {{ house.description }}
        </mat-card-content>
            <a mat-button color="primary" [routerLink] = "['edit', house.id]">Edit</a>
            <button mat-button color="warn" (click)="onDelete(house.id)">Delete</button>
     
     </mat-card>
</div>
<p class="mat-body-1" *ngIf="houses.length <= 0"> No Houses Yet</p>