<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSaveHouse()">
        <h3>Welcome Landlords</h3>
        <mat-form-field>
            <mat-label >House title</mat-label>
            <input matInput name="title" type="text" formControlName="title" >
            <mat-error *ngIf="form.get('title').invalid">please enter a valid name </mat-error> 
        </mat-form-field>
        <mat-form-field>
            <mat-label >Location</mat-label>
            <input matInput name="location" type="text" formControlName="location" >
            <mat-error *ngIf="form.get('location').invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label >Description </mat-label>
            <input matInput name="description" type="text" formControlName="description" >
            <mat-error *ngIf="form.get('description').invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label >Price</mat-label>
            <input matInput name="price" type="tel" formControlName="price">
            <mat-error *ngIf="form.get('price').invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mode of House</mat-label>
            <mat-select name="mode" formControlName="mode">
              <mat-option *ngFor="let mode of modes" [value] = "mode.value" >
                {{ mode.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div><button mat-stroked-button type="button" (click)="filePicker.click()">Select Images</button></div>
          <input type="file" #filePicker (change)="onImagePicked($event)">
          <div class="imagepicked" *ngIf="imagePreview !=='' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.title">
          </div>
          <div><button mat-raised-button
            color="primary" type="submit">Save House</button></div>  
    </form>
</mat-card> 
