<mat-card>
    <form (submit)="onAddHouse(postForm)" #postForm="ngForm">
        <h3>Welcome Landlords</h3>
        <mat-form-field>
            <mat-label >House title</mat-label>
            <input matInput name="title" type="text" ngModel minlength="3" required #title="ngModel" >
            <mat-error *ngIf="title?.invalid">please enter a valid name </mat-error> 
        </mat-form-field>
        <mat-form-field>
            <mat-label >Location</mat-label>
            <input matInput name="location" type="text" ngModel minlength="3" required #location="ngModel" >
            <mat-error *ngIf="location?.invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label >Description </mat-label>
            <input matInput name="description" type="text" ngModel required #description="ngModel">
            <mat-error *ngIf="description?.invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label >Price</mat-label>
            <input matInput name="price" type="tel" ngModel required #price="ngModel">
            <mat-error *ngIf="price?.invalid">please enter a valid name </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mode of House</mat-label>
            <mat-select name="mode" ngModel >
              <mat-option *ngFor="let mode of modes" [value] = "mode.value" >
                {{ mode.display }}
              </mat-option>
            </mat-select>
          </mat-form-field>
            <button mat-raised-button
            color="primary" type="submit">Create House</button>
    </form>
</mat-card> 
